// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 2.142;
    font-family: Montserrat,sans-serif;
    letter-spacing: 0;
    text-align: left;
    color: #3b3d42;
    overflow-x: hidden;
}

nav {
    background: #000;
}

.intro {
    background: #ffca85;
}

.intro_btn {
    background: #ffca85;
    width: 300px;
    margin: auto;
    border: 2px solid #2d3034;
    border-radius: 20px;
    font-size: 30px;
}

.intro_img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background: url('../images/back.jpeg');
    background-size: cover;
    height: 800px;
    padding-top: 300px;
}

.intro_title {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro_text {
    font-size: 38px;
    font-weight: 300;
}

.feedback {
    font-size: 12px;
    line-height: 80px;
    height: 80px;
    background: #000;
    color: #fff;
}

.fa {
    margin-left: 20px;
}

.about {
    background: #fff;
    height: 600px;
    padding-top: 100px;
    font-family: 'Oswald';
}

.about_title {
    text-transform: uppercase;
    font-weight: 300;
}

.about_text {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
}

.about_line {
    margin-top: 30px;
    height: 5px;
    width: 20%;
}

.about_us {
    margin-top: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
}

.about_team {
    font-family: 'Montserrat';
}

.cats {
    font-family: 'Oswald';
    background: #ffca85;
    height: 500px;
}

.cats_title {
    text-transform: uppercase;
    font-weight: 300;
}

.cats_text {
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
}
.anchor{
    bottom: -10px;
    position: relative;
}
.arrow-bottom {
    transform: rotate(135deg);
}
.arrow {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
}

.post_name {
    font-family: 'Oswald', sans-serif!important;
}

.Oswald{
    font-family: 'Oswald', sans-serif!important;
}

.post_name h2{
    text-shadow:#000 0 0 5px!important;
}

.chocolate{
    background-color: chocolate!important;
}

.wb{
    width: 5px;
}

.h_profile{
    line-height: 37px !important;
}

.h_layouts {
    height: 70px;
}

.intro_read {
    top: -95px;
    height: 95vh;
}

.intro_read:before {
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

@media (max-width: 600px) {
    .intro_read {
        height: 60vh;
        object-fit: cover;
    }
}

.intro_text {
    font-size: 38px;
    font-weight: 300;
}

.work-text{
    font-size: 50px;
}
.prod_img{
    width:250px!important;
}
.h-img{
    height: 60%;
}
.wc-text{
    font-size: 1.2rem;
}

.skill_block:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px;
}
.h-90{
    height:90%!important;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.product_excerpt{
    font-size: 1.7rem;
    padding-top: 60px;
}
.product_bg {
    //background-color:rgba(204,216,215,0.83);;
    background: linear-gradient(to bottom, rgba(120, 107, 175, 1), rgba(40, 140, 255, 1));
    background-color: transparent;
    background-repeat: no-repeat;
}
.product_bg::after {
    content: '';
    padding-top: 5%;
    display: none !important;
    background: linear-gradient(to right top, transparent 50%, rgba(204, 216, 215, 0.83) 50%) left / 50% 100% no-repeat,
    linear-gradient(to left top, transparent 50%, rgba(204, 216, 215, 0.83) 50%) right / 50% 100% no-repeat;
    image-rendering: crisp-edges;
    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
}

.product__img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.product_img {
    background-size: contain;
    max-height: 300px;
}

.product_avatar {
    height: 45px;
    width: 45px;
    border-radius: 50% !important;
}

#welc h1 {
    position: absolute;
    font-size: 5rem;
    padding-top: 140px;
    text-shadow: #000 0 0 10px !important;
    z-index: 1;
}

#welc img {
    //max-height: 500px !important;
    height: 60vh;
}

@media (max-width: 600px) {
    .product_img {
        width: 90%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    #welc h1 {
        padding-top: 120px;
        font-size: 2rem;
    }

    #welc img {
        height: 40vh;
    }

    .product_excerpt {
        padding-top: 40px;
    }
}

.welc_header{
    max-width: 100%;
    height: 60vh;
    z-index:-1;

}
#welc h1 {
    margin-left: 45px;
    position: absolute;
    font-size: 5rem;
    padding-top: 128px;
    text-shadow: #000 0 0 10px !important;
    z-index: 1;
}

#welc img {
    width: 110vw;
    height: 60vh;
}

#welc h1 {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 1000px) {
    #welc h1 {
        padding-top: 100px;
        font-size: 3rem;
    }
}

@media (max-width: 600px) {
    #welc img {
        height: 40vh;
    }
}

.chocolate-text {
    color: chocolate !important;
}

.pen {
    right: 0;
}

.br-50 {
    border-radius: 50% !important;
}

#change:hover {
    background-color: rgba(0, 182, 216, 0.83) !important;
}

@media (max-width: 800px) {
    .post_name {
        padding-top: 15px;
        display: block;
        margin:0;
    }
}
.post_avatar{
    width: 15% !important;
    height: 15% !important;

}
@media (max-width: 800px) {
    .post_avatar{
        width: 100% !important;
        height: 100% !important;
    }
}
#change_post{
    right: 0;

}
@media (max-width: 800px) {
    #change_post {
        text-align: center!important;
        display: block;
        margin: 0;
        right: 1px;
        width: 94%;
        top: -70px;
    }

}

@media (max-width: 800px) {
    .work_lk {
        margin-left: 0 !important;
    }

}

.reset {
    margin-top: 70px;
}

@media (min-width: 576px) {
    .card-deck.products {
        margin-right: 15px !important;
    }
}




